INFOBIP.json
{
  "name": "INFOBIP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/60 * * * *"
            }
          ]
        }
      },
      "id": "07325b17-75cd-4002-bc82-f5699597b655",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        592,
        544
      ]
    },
    {
      "parameters": {
        "url": "https://yrrpz9.api.infobip.com/account/1/balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "App 89e78e0f13b0ab0157a430d64690671d-ab2cf6c5-531f-4aeb-aa81-01de28cd5611"
            }
          ]
        },
        "options": {}
      },
      "id": "0f20e618-d8b2-49b3-9c1a-76534cbbbce6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4244439-3987-44da-b920-36800eb53e13",
              "leftValue": "={{ $json.balance }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9bc833f1-79a9-4a5e-94dd-1c0c17934f32",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E34E1B7B7E9705052442A88B4975A95/token/50F373DCEF3B7A6A8F056414/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F0ee7a306027b442bbbe560ce18825a62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5521979144460"
            },
            {
              "name": "message",
              "value": "A Plataforma INFOBIP está com saldo baixo."
            }
          ]
        },
        "options": {}
      },
      "id": "0d7777d4-0d2a-488d-a8fb-fd3e089af7b9",
      "name": "Telefone Renan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E34E1B7B7E9705052442A88B4975A95/token/50F373DCEF3B7A6A8F056414/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F0ee7a306027b442bbbe560ce18825a62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5521981183443"
            },
            {
              "name": "message",
              "value": "A Plataforma INFOBIP está com saldo baixo."
            }
          ]
        },
        "options": {}
      },
      "id": "5c6b502a-d430-4947-8ffe-69149a7135e6",
      "name": "Celular Henrique",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E34E1B7B7E9705052442A88B4975A95/token/50F373DCEF3B7A6A8F056414/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F0ee7a306027b442bbbe560ce18825a62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5521983541789"
            },
            {
              "name": "message",
              "value": "A Plataforma INFOBIP está com saldo baixo."
            }
          ]
        },
        "options": {}
      },
      "id": "5e4f38a5-0569-4c8b-97fb-e357c655b5bf",
      "name": "Celular Leandro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E34E1B7B7E9705052442A88B4975A95/token/50F373DCEF3B7A6A8F056414/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F0ee7a306027b442bbbe560ce18825a62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5521971661112"
            },
            {
              "name": "message",
              "value": "A Plataforma INFOBIP está com saldo baixo."
            }
          ]
        },
        "options": {}
      },
      "id": "ce17d224-bf1f-4601-9348-dc8a5ec7947e",
      "name": "Celular Carol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E34E1B7B7E9705052442A88B4975A95/token/50F373DCEF3B7A6A8F056414/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F0ee7a306027b442bbbe560ce18825a62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5521981863753"
            },
            {
              "name": "message",
              "value": "A Plataforma INFOBIP está com saldo baixo."
            }
          ]
        },
        "options": {}
      },
      "id": "3a4e33dc-6273-4a8a-a661-dfe4adee5d5e",
      "name": "VANDRE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telefone Renan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Celular Henrique",
            "type": "main",
            "index": 0
          },
          {
            "node": "Celular Leandro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Celular Carol",
            "type": "main",
            "index": 0
          },
          {
            "node": "VANDRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e1d4dd9-7138-459c-905e-d561d8dcb590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7d12b09f7706ff13009ec9c6baf8680ad3a1b952a3a4f5ec8ce77a4c9cd6936"
  },
  "id": "2AFAmaikpOI5IcZ6",
  "tags": []
}